$openSans: 'Open Sans', Helvetica, Arial, sans-serif;

body {
  background: transparent;
  font-family: $openSans;
  color: black;
}

.description {
  font-size: 1rem;
  margin-top: 0.5rem;
}

.description p {
  padding: 0.5rem;
  text-align: justify;
}

.description p span {
  font-weight: bold;
}

.title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.icons div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

// Page 7 (me - original portfolio) button
.button-about {
  background-color: var(--my-gray);
  border: 2px solid var(--my-gray);
  border-radius: 5px;
  color: var(--my-yellow);
  font-family: 'Titan One';
  font-size: 1.5em;
  padding: 0.2em 0.3em;
  min-width: 7.3em;
  margin-bottom: 1rem;
  outline:none; 
}

.button-about:hover {
  border: 2px solid var(--my-yellow);
  font-style: bold;
  background-color: var(--my-yellow);
  color: var(--my-gray);
}

.button-about-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2rem 0;
}

// legend below icons in hover
p.invisible {
  visibility: hidden;
  font-size: 1rem;
  width: 8rem;
  margin: 0 auto;
  text-align: center;
}

a:hover + p.invisible {
  visibility: visible;
}

// mobile version
.mobile-version {
  display: none;
  background-color: var(--my-green);
  padding: 2rem;
  height: 100vh;
  width: 100vw;
  color: var(--my-gray);
}

.mobile-version p {
  color: var(--my-gray);
  font-size: 1.3rem;
  font-family: 'Indie Flower';
  margin: 1rem 0;
}

.mobile-version h2 {
  font-family: 'Titan One', sans-serif;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 0.8rem;
}

.logo-mobile {
  display: flex;
  justify-content: center;
}

.fa-icon-mobile {
  font-size: 4rem;
}

///// overlay

.overlay {
  display: none;
}

.overlay-container:hover .overlay {
  display: block;
  // transition: 2s;
}

// might delete this, just seeing if it helps with deployed version
.overlay-container:hover .overlay-top {
  display: block;
  transition: 2s;
}

.overlay-container:hover .bf-overlay {
  filter: contrast(calc(0.5)) brightness(1);
 //filter: contrast(calc(0.5/1.5)) brightness(1.5);
}

.python-overlay-container {
  position: relative;
}

#python-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#python-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  color: var(--python-white);
  font-family: "Open Sans";
  font-size: 1.2rem;
  margin: auto 0;
  padding: 0.6rem;
}


////// buttons for next and previous page

.buttons-down {
  z-index: 100;
  // margin: 0 auto;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 1rem;
  left: 0;
  right: 0;
}

.buttons-down button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0 2rem;
}

.buttons-down button:focus {
  outline: none;
  box-shadow: none;
}

button:hover + p.invisible {
  visibility: visible;
}


////////////////// skw-pages-code ////////////////// 
.skw-pages {
  overflow: hidden;
  position: relative;
  height: 100vh;
}

$skewDeg: 18deg;
$magicVH: 32.4vh; // this number is magic and depends on skew angle
$scrollTime: 1s;

.skw-page {
  position: absolute;
  left: 0;
  top: 100;
  width: 100%;

  &__half {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100vh;
    transition: transform $scrollTime;

    &--left {
      left: 0;
      transform: translate3d(-$magicVH, 100%, 0);
    }

    &--right {
      left: 50%;
      transform: translate3d($magicVH, -100%, 0);
    }

    .skw-page.active & {
      transform: translate3d(0,0,0);
    }

  }

  &__skewed {
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 140%;
    height: 100%;
    transform: skewX($skewDeg * -1);
    background: transparent;

    .skw-page__half--left & {
      left: -40%;
    }
    .skw-page__half--right & {
      right: -40%;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0 30%;
    color: black;
    font-family: 'Russo One', sans-serif;
    transform: skewX($skewDeg);
    transition: transform $scrollTime, opacity $scrollTime;
    background-size: cover;

    .skw-page__half--left & {
      padding-left: 30%;
      padding-right: 30%;
      transform-origin: 100% 0;
    }
    .skw-page__half--right & {
      padding-left: 30%;
      padding-right: 30%;
      transform-origin: 0 100%;
    }

    .skw-page.inactive & {
      opacity: 0.5;
      transform: skewX($skewDeg) scale(0.95);
    }
  }

  &__heading {
    margin-bottom: 1rem;
    text-transform: capitalize;
    font-size: 4rem;
    text-align: center;
  }

  &__description {
    font-size: 2rem;
    text-align: center;
  }

   //////////////////// Python - Page 1 ////////////////////
   //                   ////////////////                  //
   &-1 {
      .skw-page__half--left.bf-overlay .skw-page__content {
         background-image: url('../images/python-mix.png');
      }
      .skw-page__half--right .skw-page__content {
         background: lighten(#111111, 0%); //#881988
      }
      h2 {
        font-weight: bold;
        font-size: 6rem;
      }
      .skw-page__half--right .skw-page__skewed {
        //border-left: 2px solid var(--python-gray);
      }
      .overlay {
        display: none;
      }
      .overlay-container:hover .overlay {
        display: block;
      }
      .overlay-container:hover .bf-overlay {
      filter: contrast(calc(0.5)) brightness(1);
       //filter: contrast(calc(0.5/1.5)) brightness(1.5);
      }
      a:hover + p.invisible {
        color: var(--python-black);
      }

      .python-overlay-container {
        width: 25.05rem; 
        height: 18rem; 
        margin-top: 2rem; 
        margin-left: -4rem;
      }

      .title-wrapper {
        margin-left: -3rem;
      }

      // styles={{  width= "25.05rem", height= "15.8rem", marginTop= "2rem", marginLeft= "-4rem"}}

   }
   &-2 {
      .skw-page__half--left .skw-page__content {
         background: var(--django-blue);
         padding: 0 25%;
      }
      .skw-page__half--right.bf-overlay .skw-page__content {
        background-image: url('../images/SheCodesNews.png');
      }

      h2 {
        font-weight: bold;
      }
      .skw-page__half--right .skw-page__skewed {
        border-left: 1.5px solid black;
      }
      .overlay {
        display: none;
      }
      .overlay-container:hover .overlay {
        display: block;
      }
      .overlay-container:hover .bf-overlay {
        filter: contrast(calc(1/3)) brightness(1.5);
      }
      a:hover + p.invisible {
        color: var(--black);
      }
      .description {
        border: 1px solid black;
        border-radius: 2rem;
        background: white;
        color: black;
        padding: 0.6rem;
        // padding: 0.4rem;
        
      }

      .description p {
        font-family: Monaco, monospace;
      }

      .description h3 {
        font-size: 2.5rem;
        background: white;
        position: sticky;
        // position: relative;
        top: 0px;
        left: 0px;
        margin: 0;
        border-radius: 1rem 1rem 0 0;
        text-align: center;    
    }

   }
   &-3 {
      .skw-page__half--left.bf-overlay .skw-page__content {
         background-image: url('../images/crowd1.png');
      }
      .skw-page__half--right .skw-page__content {
        padding: 0 25%;
         //background: lighten(#191b1f, 0%);
         background-color: var(--crowd-gray);
      }
      .overlay-container:hover .bf-overlay {
        filter: contrast(calc(0.5)) brightness(0.8) blur(2px);
        // webkit-filter: url(#colorize);
        // filter: url(#colorize);
      }
      .overlay-container:hover .overlay {

      }
      a:hover + p.invisible {
        color: var(--crowd-white);
      }

      .description span {
        color: var(--crowd-pink);
      }
   }
   &-4 {
      .skw-page__half--left .skw-page__content {
         background: lighten(white, 0%);
         padding: 0 25%;
      }
      .skw-page__half--right.bf-overlay .skw-page__content {
         background-image: url('../images/comparaList.png');
      }
      .skw-page__half--left .skw-page__skewed {
        border-right: 5px solid #b3b7a4;
      }

      .overlay-container:hover .bf-overlay {
        //filter: contrast(calc(0.5)) brightness(1);
        filter: contrast(calc(0.2/1.5)) brightness(1.8) blur(3px);
        }

      a:hover + p.invisible {
        color: var(--group-project-blue);
      }
      .description p {
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto";
        color: var(--group-project-gray);
        font-weight: bold;
      }
      .description p span {
        color: var(--group-project-blue);
      }

      .description a {
        color: var(--group-project-blue);
        text-decoration: none;
      }
      /////////////////////////////////////////
      
   }
   &-5 {
      .skw-page__half--left.bf-overlay .skw-page__content {
         background-image: url('../images/Coles2.png');
      }
      .skw-page__half--left.overlay .skw-page__content {
        background-image: url('../images/numbers2.png');
        opacity: 60%;
     }
      .skw-page__half--right .skw-page__content {
         background: var(--coles-red);
         padding: 0;
      }
      h2 {
        color: white;
      }
      // new
      .overlay {
        display: none;
      }
      .overlay-container:hover .overlay, .overlay-container:hover .overlay-top {
        display: block;
        position: absolute;
      }
      .overlay-top {
        display: none;
      }
      .overlay-container:hover {
        position: relative;
      }
      .overlay-container:hover .bf-overlay {
        // filter: contrast(calc(1/3)) brightness(1.5);
        filter: initial;          
      }
      // .overlay-container:hover .bf-overlay .skw-page__content {
      //   background-image: url('./images/numbers2.png');
      //   // filter: contrast(calc(1/3)) brightness(1.5);
      // }

      a:hover + p.invisible {
        color: black;
      }
      p.invisible {
        width: 10rem;
      }
      .description {
        padding: 0 30%;
      }
      .description p {
        font-family: 'source-sans-pro', sans-serif;
        line-height: 1.5em;
        color: var(--coles-gray);
        font-weight: bold;
      }
      .logo-coles {
        margin-bottom: 1rem;
      }

   }
   &-6 {
    .skw-page__half--left .skw-page__content {
      padding: 0 20%;
      //background: lighten(#191b1f, 0%);
      background: lighten(#1d1e22, 0%);
    }
    .skw-page__half--right.bf-overlay .skw-page__content {
      background-image: url('../images/skewed-slide-2.png');
    }
    .skw-page__half--right .skw-page__skewed {
      border-left: 1rem solid #343642;
    }
    a:hover + p.invisible {
      color: var(--skewed-white);
    }
    .overlay {
      display: none;
    }
    .overlay-container:hover {
      // position: relative;
    }
    .overlay-container:hover .bf-overlay {
      filter: blur(3);//contrast(calc(1/3)) brightness(1.5);      
    }
    .description {
      background-color: var(--skewed-gray);
      max-width: 80%;
    }
    .description p {
      // color: #ffffff; //#fbfbfb;
      font-family: Monaco, monospace;
      font-size: 0.9rem;
      line-height: 1.2rem;
    }

   }

   &-7 {
    .skw-page__half--left .skw-page__content {
       background-image: url('../images/MePic.png');
       max-height: 120vh;
    }

    .skw-page__half--left .skw-page__content:hover {
      background-image: url('../images/MePic2.png');
    }
    .skw-page__half--right .skw-page__content {
      padding: 0 20%;
       //background: lighten(#191b1f, 0%);
       background: var(--my-green);
    }
    .overlay-container:hover .bf-overlay {
      // filter: contrast(calc(0.5)) brightness(0.8) blur(2px);
      // webkit-filter: url(#colorize);
      // filter: url(#colorize);
    }
    .overlay-container:hover .overlay {

    }
    a:hover + p.invisible {
      // color: var(--crowd-white);
    }
    .description p {
      color: var(--my-gray);
      font-family: 'Indie Flower';
      font-size: 2rem;
      line-height: 1.2rem;
      text-align: center;
      margin: 0 auto;
    }


 }
}



//////////////////// <h2>s of each page ///////////////////
// page 1 - python
h2#python {
  font-size: 4rem;
  padding: 0px;
  padding-left: 1rem;
  margin: 0px;
  margin: -0.5rem 0;
  margin-block-end: 0rem;
  margin-block-start: 0rem;
}

h2#django {
  font-weight: bold;
  font-size: 3.5rem;
  margin-block-start: 0em;
  margin-block-end: 0em;
  width: 100%;
  margin-bottom: 2rem;
  margin-left: 1rem;
}

// page 3 - crowdfunding
h2#crowd {
  font-family: 'Patua One', cursive;
  font-weight: normal;
  letter-spacing: -2px;
  color: var(--crowd-pink);
  text-transform: none;
  word-spacing: -0.2rem;
  font-size: 3rem;
  margin-left: 1rem;
}

// page 4 - group project
h2#group-project {
  font-family: 'Fredoka One';
  // text-transform: none;
  color: var(--group-project-blue);
  font-weight: normal;
  font-size: 2.5rem;
  margin-left: 1rem;
}

// page 5 - coles webscraping
h2#coles {
  font-family: 'Poppins', sans-serif;
  font-size: 4rem;
  letter-spacing: -0.15rem;
  font-weight: normal;
  text-transform: none; //remove capitalisation
  background-color: white;
  color: var(--coles-red);
  width: 100%;
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  z-index: 100;
}

h2#about-me {
  font-family: 'Titan One', 'Indie+Flower', sans-serif;
  color: var(--my-gray);
  font-size: 3rem;
  margin-block-start: 0em;
  margin-block-end: 0em;
  width: 100%;
}


// page 6 - portfolio - skewed slides
h2#skewed {
  color: var(--skewed-white);
  font-family: Lato, sans-serif;
  margin-left: 1rem;
}




////////////////////////////////// rest /////////////////////////////


// div.icons {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-around;
//   min-width: 20rem;
//   border: 2px solid red;
// }


.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  // margin: auto;
}

.icons a {
  padding: 0 1rem;
}

.rainbow-text {
  background-image: linear-gradient(to bottom, 
    var(--python-bright-pink) 17.5%, 
    var(--light-blue) 17.5% 28%, 
    var(--python-black) 28% 30.6%, 
    var(--red) 31.1% 41.6%, 
    var(--python-black) 41.6% 44.2%,
    var(--orange) 44.2% 54.8%,
    var(--python-black) 54.8% 57.4%,
    var(--green) 57.4% 67.9%,
    var(--python-black) 67.9% 70.5%,
    var(--purple) 70.5% 81%,
    var(--python-black) 81% 83.6%,
    var(--blue) 83.6% 94.1%,
    var(--python-black) 94.1%);  -webkit-background-clip: text;
  color: transparent;
}

// .rainbow-icon {
//   color: transparent;
//   background: linear-gradient(to right, #1bd3f3 16.66%, #ef553b 16.66% 33.33%, #ffa15a 33.33% 46%, green 46% 63%, #ab63fa 63% 83.33%, #636efb 83.33%);  -webkit-background-clip: text;
// }

a#fa-git-python {
  background-color: var(--python-pink);
  padding: 1rem;
  border-radius: 1rem;
  border: 2px solid var(--python-bright-pink)
}


a#fa-file-coles {
  // border-radius: 3rem;
  // width: 8rem;
  // height: 8rem;
  min-height: 10rem;
  // border: 0.3rem solid blue;
}

.logo-coles img {
  object-fit: cover;
  // height: 4rem;
  width: auto;
  // border: 1px solid blue;
  padding: 0px;
  margin-bottom: 0.7rem;
  margin-right: 0.7rem;
  height: 5rem;
  max-height: 5rem;
}


// @media (pointer:coarse) {
//   .App {
//     display: none;
//   }
//   .mobile-version {
//     display: block;
//   }
// }