#logo-coles-wrap {
  width:100%;
  margin: 0 auto;
}


/* #logo-coles-ring {
  border: 1rem solid var(--coles-red);
  height: 9.4rem;
  width: 9.4rem;
  border-radius: 6.2rem;
  display: flex;
  justify-content: center;
  align-items: center;

} */


/* #logo-coles img {
  object-fit: cover;
  height: 6rem;
  width: auto;
  border: 1px solid blue;
  padding: 0px;
  margin-bottom: 0.7rem;
  margin-right: 0.7rem;
  max-height: 9rem;
  
} */

