

.green-circle {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: var(--my-green);
  display: flex;
  justify-content: center;
  /* position: relative;
  top: 1rem; */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.green-circle a {
  position: relative;
  top: -1rem;
}