////////////////// font imports ////////////////// 

// Defaults from Skewed slides
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

// Crowdfunding (page 3) font
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

// Group Project (page 4) font
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

// Coles (page 5) font
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

// Skewed Slides (Portfolio, page 6) font
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://use.typekit.net/qhr6wpt.css');

// About Me (page 7)
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');



////////////////// colours ////////////////// 
:root {
  --black: black;
  // python - Page 1
  --light-blue: #1bd3f3;
  --red: #ef553b;
  --orange: #ffa15a;
  --green: #00cc96;
  --purple: #ab63fa;
  --blue: #636efb;
  --python-bright-pink: #d60dd5;
  --python-pink: #881988;
  --python-black: #111111;
  --python-gray: #1a1f25;
  --python-white: #898b8d;// #dddee1;
  --python-dark-blue: #26376e;
  --python-red: #720f0c;
  // django - Page 2
  --django-blue: cornflowerblue; //#6495ed
  // crowdfunding - Page 3
  --crowd-gray: #343434;
  --crowd-pink: #eea489;
  --crowd-white: #f4f4f4;
  // group project - Page 4
  --group-project-blue: #004aad;
  --group-project-gray: #b3b7a4;
  // coles - Page 5
  --coles-red: #e01a22;
  --coles-gray: #262626;
  // skewed slides (portfolio) - Page 6
  --skewed-white: #dcdcdc;
  --skewed-gray: #29292d;
  --skewed-green: #98b58c;
  --skewed-yellow: #e6d182;
  --skewed-bright-white: #ffffff;
  --skewed-purple: #9a8297;
  --skewed-blue: #809ec1;
  // mine (original portfolio colours) - Page 7
  --my-pink: #ec1492;
  --my-green: #46d68f;
  --my-yellow: #fff3d6;
  --my-gray: #474747; /* #4f514f; */
}

.white { color: white;}
.black { color: black;}
// python - Page 1
.light-blue { color: var(--light-blue);}
.red { color: var(--red);}
.orange { color: var(--orange);}
.green { color: var(--green);}
.purple { color: var(--purple);}
.blue { color: var(--blue);}
.python-bright-pink { color: var(--python-bright-pink);}
.python-dark-blue { color: var(--python-dark-blue);}
.python-pink { color: var(--python-pink); }
.python-black { color: var(--python-black);}
.python-white { color: var(--python-white);}
.python-dark-blue { color: var(--python-blue);}
.python-red { color: var(--python-black); }
// django - Page 2
.django-blue { color: var(--django-blue);}
// crowdfunding - Page 3
.crowd-pink { color: var(--crowd-pink);}
.crowd-gray { color: var(--crowd-gray);}
.crowd-white {color: var(--crowd-white);} 
// group project - Page 4
.group-project-blue { color: var(--group-project-blue);}
.group-project-gray { color: var(--group-project-gray);}
// coles - Page 5
.coles-red { color: var(--coles-red);}
.coles-gray { color: var(--coles-gray);}
// skewed slides (portfolio) - Page 6
.skewed-white { color: var(--skewed-white);}
.skewed-gray { color: var(--skewed-gray);}
.skewed-green { color: var(--skewed-green); }
.skewed-yellow { color: var(--skewed-yellow); }
.skewed-bright-white { color: var(--skewed-bright-white);}
.skewed-purple { color: var(--skewed-purple); }
.skewed-blue { color: var(--skewed-blue); }
// mine (original portfolio colours) - Page 7
.my-pink { color: var(--my-pink); }
.my-green { color: var(--my-green); }
.my-yellow { color: var(--my-yellow); }
.my-gray { color: var(--my-gray); }


// bootstrap-like settings
.fw-bold { font-weight: bold; }
.fw-normal { font-weight: normal; }
.center { display: flex; justify-content: center;}

// font-size
.fs-2rem {font-size: 2rem}
.fs-4rem {font-size: 4rem}
.fs-6rem {font-size: 6rem}


////////////////// general ////////////////// 
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

